black==24.4.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cycler==0.12.1
decorator==4.4.2
fonttools==4.51.0
idna==3.7
imageio==2.34.0
imageio-ffmpeg==0.5.1
kiwisolver==1.4.5
matplotlib==3.8.4
moviepy==1.0.3
mypy-extensions==1.0.0
networkx==3.3
numpy==1.26.4
packaging==24.0
pathspec==0.12.1
Pillow==10.3.0
platformdirs==4.2.0
proglog==0.1.10
pyparsing==3.1.2
python-dateutil==2.9.0
PyWavelets==1.6.0
requests==2.31.0
scikit-image==0.22.0
scipy==1.13.0
six==1.16.0
tifffile==2024.4.24
tomli==2.0.1
tqdm==4.66.2
urllib3==2.2.1
pytest==8.2.0
pytest-mock==3.12.0
pydub==0.25.1
ffmpeg-python==0.2.0
